*{
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    width: 360px;
    padding: 20px 0;
    margin: 0 auto;
}

.calc__inner{
    width: 355px;
    border: 2px solid #000;
    text-align: center;
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
}

.calc__input-box{
    text-align: left;
}

.calc__input{
    width: 310px;
    padding: 5px 10px;
    margin: 20px 10px;
    font-size: 36px;
    line-height: 32px;
    background-color: rgb(48, 48, 48);
    min-height: 32px;
    border: 2px solid #000;
    text-align: right;
    border-radius: 5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: rgb(190, 190, 190);
}

.calc__input::placeholder{
    color: rgb(190, 190, 190);
}

.calc__btn-block{
    display: flex;
}

.calc__btn-number{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px;
    width: 270px;
}

.calc__btn-number--item{
    width: 80px;
    height: 40px;
    margin: 5px 5px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: rgba(170, 170, 170, 0.6) solid 2px;
    border-radius: 5px;
}

.calc__btn-operation{
    width: 60px;
    margin: 5px 5px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
}

.calc__btn-operation--item{
    width: 50px;
    height: 40px;
    margin: 5px 5px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.808);
    background-color: #000;
    border-radius: 5px;
}

.calc__btn-number--style--C{
    background-color: rgba(255, 166, 0, 0.719);
}

.calc__btn-number--style--result{
    background-color: rgba(129, 193, 252, 0.459);
}

